<div id="header">
            <div class="titulo"> Bem vindo! </div>
            <br>
</div>

<div id="main">
    <div id="container">
        <div class="botoes">
            <div class="content">
                    <a href="/admin/listar"><button id="botao01"type="button" class="btn btn-success">Listar pessoas cadastradas</button></a>
                    <a href="/admin/listarVacinas"><button id="botao02" type="button" class="btn btn-success">Listar tipos de vacinas</button></a>
                    <form action="/admin/logout/" method="post"><button id="botao03"type="submit" class="btn btn-danger mt-3">Sair</button></form>
            </div>
        </div>
    </div>
</div>