
<div class="card">
    <h2>Login:</h2>
    <div class="card-body">
        <form action="/admin/index/" method="post">
        <div class="divEmail">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Email" class="form-control">
            </div>
            <div class="divSenha">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Senha" class="form-control">
            </div>
            <br>
            <div class="botoes">
                <div class="content">
                    <a href="../"><button type="button" id="botao01" class="btn btn-secondary">Voltar</button></a>          
                    <button type="submit"  id="botao03"class="btn btn-success">Entrar no sistema</button>
                 </div>
            </div>
        </form>
    </div>
</div>

