<h2>Vacinas disponíveis:</h2>
<hr>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="../admin/home"><button type="button" class="btn btn-secondary">Voltar</button></a>
</div>
<div class="card mt-4">
    <div class="card-body">
        <p>CoronaVac</p>
        <small>Vacina administrada via intramuscular</small><br>
        <small>Desenvolvida e produzida pelo Instituto Butantan (Brasil)</small><br>
        <small>Indicada para maiores de 18 anos</small><br>
        <small>Duas doses com intervalo de <b>2-4 semanas</b> entre elas</small>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <p>AstraZeneca</p>
        <small>Vacina administrada via intramuscular</small><br>
        <small>Desenvolvida pela Universidade de Oxford e pela empresa AstraZeneca (Inglaterra)</small><br>
        <small>Produzida pela Fiocruz (Brasil)</small><br>
        <small>Indicada para maiores de 18 anos</small><br>
        <small>Duas doses com intervalo de <b>3 meses</b> entre elas</small>
    </div>
</div>