
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="texto">
                    <h5 class="card-title">Área do Usuário</h5>
                    <h6 class="card-title">FIQUE ATENT0</h6>
                    <p class="card-text">
                        <b>Bem-vindo!</b>
                        O sistema tem como objetivo ajudar a organizar o plano de imunização da população de Quixadá,
                        auxiliando os profissionais de saúde em seu controle eficiente. Para isso, pode-se:
                    </p>
                    <ul>
                        <li>
                            Acompanhar o cadastro da população de acordo com os grupos prioritários, garantindo o
                            cumprimento da
                            fila de prioridade;
                        </li>
                        <li>
                            Acompanhar a vacinação dos cidadãos, verificando as doses e as datas das aplicações;
                        </li>
                        <li>
                            Registrar as doses, facilitando a aplicação em qualquer local (domicílio, centros de vacinação);
                        </li>
                        <li>
                            Garantir uma forma mais eficiente e mais segura, principalmente para os Agentes Comunitários de
                            Saúde, de controlar o processo e proteger as informações importantes referentes à população.
                        </li>
                    </ul>
                    <p>
                        Para o cidadão, apresenta praticidade no cadastro de forma online, além de mais informações e
                        maior segurança de seus dados.
                    </p>

                    <div id="container">
                        <div class="botoes">
                            <div class="content">
                                <a href="/user/cadastrar" id="botao01" class="btn btn-primary">Quero me cadastrar</a>           
                                <a href="/user/" id="botao02" class="btn btn-primary">Já tenho cadastro</a>
                                <a href="/user/duvidas" id="botao03" class="btn btn-primary">Dúvidas Frequentes</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        
    <div id="parte2" class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Área Restrita: Somente Funcionários</b></h5>
                <p class="card-text">Profissionais da saúde: nossos verdadeiros heróis!</p>
                <a href="/admin/" id="botao01" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>