* {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 10% 0% 0% 0%;
    background-image: url(img/5.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color:rgba(233, 230, 227, 0.829);
    align-items: center;
}

.card{
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2{
    font-size: 40px;
}

form{
    font-size: 20px;
    color: white;
    border: solid rgb(255, 255, 255) 4px;
    background-color: white;
    border-radius: 12px;
    
    background-color: rgba(206, 206, 216, 0.329);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.divEmail{
     padding: 10px 0px 5px 0px;
}

.divSenha{
    padding: 10px 0px 5px 0px;
}

.botoes {
    text-align: center;
    margin-top: 1px;
}

.content{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

#botao01{
    background-color: rgb(39, 22, 187);
    color: white;
    font-size: 13px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 80px;
    margin-right: 6px;
         /* margin-right: 6px;  */
    position: relative;
    width: 50px 50px;
}

#botao01:before{
    border-radius: 15px;
    box-shadow: inset 0 -2px 12px -4px rgba(70, 70, 70, .2),
                inset 0 3px 2px -1px rgba(255, 255, 255, 1);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    position: absolute;
}

#botao01:after{
    
    border-radius: 15px;
    content: "";
    bottom: 13px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
}

#botao01:active{
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
}

#botao01:active:before{
    border: none;
    box-shadow:none;
}

#botao03{
    background-color: rgb(68, 68, 83);
    color: white;
    font-size: 13px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 50px;
    position: relative;
    width: 50px 50px;
}

#botao03:before{
    border-radius: 15px;
    box-shadow: inset 0 -2px 12px -4px rgba(70, 70, 70, .2),
                inset 0 3px 2px -1px rgba(255, 255, 255, 1);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    position: absolute;
}

#botao03:after{
    border-radius: 15px;
    content: "";
    bottom: 15px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
}

#botao03:active{
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
}

#botao01:active:before{
    border: none;
    box-shadow:none;
}