
<div id="t" class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="tr">
            <h2>Dúvidas Frequentes: </h2><a href="../">

    </div>
    <div class="rt">
                      <button id="botao01" type="button" class="btn btn-secondary">Voltar</button></a>
    </div>
</div>

<hr>

<div class="card text-white bg-success mb-3">
    <div class="card-header"><b>Depois de realizar o cadastro, quando poderei me vacinar?</b></div>
    <div class="card-body">
        <p class="card-text">Depende de como as vacinas chegarão e dos pacientes prioritários na lista de espera.
            Não se preocupe, você será avisado assim que estiver disponível! Comunique-se com o Agente Comunitário
            de Saúde da sua área.</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" >
    <div class="card-header"><b>Mesmo confirmando o cadastro, ainda posso mudar meus dados?</b></div>
    <div class="card-body">
        <p class="card-text">Sim, os dados poderão ser editados mesmo após a confirmação. Mas fique atento(a) para
            não fornecer informações incorretas! Use essa opção somente se necessário.</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" >
    <div class="card-header"><b>Posso utilizar o mesmo e-mail para cadastros diferentes?</b></div>
    <div class="card-body">
        <p class="card-text">Não! Cada cadastro deverá ser feito com um e-mail ainda não utilizado em cadastros
            anteriores.</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" >
    <div class="card-header"><b>Posso me cadastrar mesmo sem estar nos grupos prioritários?</b></div>
    <div class="card-body">
        <p class="card-text">Sim! Qualquer pessoa maior de 18 anos pode realizar o cadastro.</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" >
    <div class="card-header"><b>Quais vacinas estão disponíveis?</b></div>
    <div class="card-body">
        <p class="card-text">Atualmente, a distribuição de vacinas conta com dois tipos: a CoronaVac, desenvolvida
            pelo Instituto Butantan, e a AstraZeneca, desenvolvida pela Universidade de Oxford. Ambas necessitam de
            duas doses, com aplicações variando de 2 semanas a até 3 meses.</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" >
    <div class="card-header"><b>Posso escolher qual vacina tomar?</b></div>
    <div class="card-body">
        <p class="card-text">Não! A distribuição e a aplicação são feitas de acordo com as doses disponíveis.</p>
    </div>
</div>
<div class="card text-white bg-success mb-3">
    <div class="card-header"><b>Se eu quiser entrar em contato, há algum meio disponível?</b></div>
    <div class="card-body">
        <p class="card-text">Caso deseje entrar em contato, o TeleCovid no município está disponível através
            dos números: <b>(88) 99207-6019</b> ou <b>(88) 99208-5769</b>.</p>
    </div>
</div>
