
<div class="card">
    <h2>Login do usuário:</h2>
    <div class="card-body">
        <form action="/user/login" method="post">
            <div class="divEmail">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Email" required="true" class="form-control">
            </div>
            <div class="divSenha">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Senha" required="true" class="form-control">
            </div>
            <br>
                                <div class="botoes">
                                    <div class="content">
                                        <a href="../"><button type="button" id="botao01" class="btn btn-secondary">Voltar</button></a>          
                                        <a href=" /user/cadastrar"><button type="button" id="botao02"class="btn btn-primary">Quero me cadastrar</button></a>
                                        <button type="submit"  id="botao03"class="btn btn-success">Entrar no sistema</button>
                                    </div>
                                </div>
        </form>
    </div>
</div>

